.post h2 {
  font-size: 2.5rem;
  margin: 30px 0px;
}

.post {
  margin: 20px 0px;
  padding: 5px 30px;
  background-color: rgb(203, 203, 203);
  border-radius: 10px;
}
.listPost {
  padding: 0.25rem 0.25rem;
  border: 2px solid rgb(6, 6, 6);
  border-radius: 7px;
  margin-bottom: 10px;
  background-color: rgb(169, 202, 128);
}

.listPost + .listPost {
  margin-top: 0.5rem;
}

.listPost h3 {
  margin: 0;
  font-size: 1.5rem;
}

.postElement {
  display: flex;
  justify-content: space-between;
}

/* COMMENTS */
.comment {
  width: 83%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.comment-name {
  font-weight: bold;
  margin: 0;
}

.comment-content {
  font-size: 12px;
  margin-top: 10px;
}

.comment-container {
  position: relative;
}

.close {
  position: absolute;
  top: 96%;
  right: 1%;
  background-color: red;
  color: white;
  font-size: 15px;
}

.fadeInDown {
  animation-name: fadeInDown;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
